<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        #{not empty  shopOwnerBean.shop.shopId ? "Update Customer" : " Sign Up as a shop Owner" }
    </ui:define>

    <ui:define name="body">
        <h:form>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="shopid" value="SHOP ID #{shopOwnerBean.shop.shopId}" rendered="#{not empty shopOwnerBean.shop.shopId}" />
                    <h:inputHidden id="shopid" value="#{shopOwnerBean.shop.shopId}" />
                </div>
            </div>
             <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="shopname" value="Shopname" />
                    <h:inputText p:placeholder="ShopName" id="shopname" value="#{shopOwnerBean.shop.shopName}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="partname" value="Partname" />
                    <h:inputText p:placeholder="PartName" id="partname" value="#{shopOwnerBean.part.partName}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="partprice" value="Partprice" />
                    <h:inputText p:placeholder="PartPrice" id="partprice" value="#{shopOwnerBean.part.partPrice}" />
                </div>
            </div>
          
             <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="servicename" value="Servicename" />
                    <h:inputText p:placeholder="ServiceName" id="servicename" value="#{shopOwnerBean.service.serviceName}" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h:commandButton action="#{shopOwnerBean.executeSave()}" class="button expand" value="ShopOwnerSignUp"/>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>
