<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        #{not empty  customerBean.customer.customerId ? "Update Customer" : "Sign Up as a new Customer" }
    </ui:define>

    <ui:define name="body">
        <h:form>

            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="customerid" value="CUSTOMER ID #{customerBean.customers.customerId}" rendered="#{not empty customerBean.customer.customerId}" />
                    <h:inputHidden id="customerid" value="#{customerBean.customer.customerId}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="fname" value="Fname" />
                    <h:inputText p:placeholder="FirstName" id="fname" value="#{customerBean.customer.firstName}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="lname" value="Lname" />
                    <h:inputText p:placeholder="FirstName" id="lname" value="#{customerBean.customer.lastName}" />
                </div>
            </div>
             <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="customeraddressid" value="CUSTOMER ADDRESS ID #{customerBean.customerAddress.customerId}" rendered="#{not empty customerBean.customerAddress.customerId}" />
                    <h:inputHidden id="customeraddressid" value="#{customerBean.customerAddress.customerId}" />
                </div>
            </div> 
            
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="address1" value="Address1" />
                    <h:inputText p:placeholder="CustomerAddress1" id="address1" value="#{customerBean.customerAddress.customerAddress1}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="address2" value="Address2" />
                    <h:inputText p:placeholder="CustomerAddress2" id="address2" value="#{customerBean.customerAddress.customerAddress2}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="city" value="City" />
                    <h:inputText p:placeholder="City" id="city" value="#{customerBean.customerAddress.city}" />
                </div>
            </div>
             <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="state" value="State" />
                    <h:inputText p:placeholder="State" id="state" value="#{customerBean.customerAddress.state}" />
                </div>
            </div>
             <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="country" value="Country" />
                    <h:inputText p:placeholder="Country" id="country" value="#{customerBean.customerAddress.country}" />
                </div>
            </div>
            
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="username" value="Username" />
                    <h:inputText p:placeholder="UserName" id="username" value="#{customerBean.user.userName}" />
                </div>
            </div>
            
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="password" value="Password" />
                    <h:inputText p:placeholder="PassWord" id="password" value="#{customerBean.user.password}" />
                </div>
            </div>
           
             
            
            <div class="row">
                <div class="large-12 columns">
                    <h:commandButton action="#{customerBean.executeSave()}" class="button expand" value="CustomerSignUp"/>
                </div>
            </div>

        </h:form>

    </ui:define>

</ui:composition>
