<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Admin Portal Welcome Page
    </ui:define>

    <ui:define name="body">
        <div class="large-12 large-centered columns">
           <h:link outcome="signUpCustomer.xhtml" value="Create New Customer"/>
            <div class="row">
            </div>
        </div>
       
        <ezcomp:partsComposite parts="#{partsService.findAll()}"/>
        

    </ui:define>

</ui:composition>