<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="parts" type="edu.iit.sat.itmd4515.tchandr1.fp.domain.Parts" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()"/>
    </cc:interface>
    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="id" value="PART ID #{cc.attrs.parts.partId}" />
                    <h:inputHidden id="id" value="#{cc.attrs.parts.partId}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="partName" value="PartName" />
                    <h:inputText p:placeholder="PartName" id="partName" value="#{cc.attrs.parts.partName}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="partPrice" value="PartPrice" />
                    <h:inputText p:placeholder="PartPrice" id="partPrice" value="#{cc.attrs.parts.partPrice}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                </div>
            </div>
            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <div class="row">
                    <div class="large-12 columns">
                        <h:commandButton action="#{cc.attrs.action}" class="button expand" value="Save"/>
                    </div>
                </div>
            </ui:fragment>
        </h:form>
    </cc:implementation>
</html>