<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">
        #{not empty ordersBean.order.orderId ? "Update Order" : "Create New Order" }
    </ui:define>
    <ui:define name="body">
        <h:form>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="id" value="ORDER ID #{ordersBean.order.orderId}" rendered="#{not empty ordersBean.order.orderId}" />
                    <h:inputHidden id="id" value="#{ordersBean.order.orderId}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="name" value="Name" />
                    <h:inputText p:placeholder="Order Name" id="name" value="#{ordersBean.order.orderName}" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h:outputLabel for="order" value="shop" />
                    <h:selectOneListbox id="orderShop"  value="#{ordersBean.order.shop.shopId}" >
                        <f:selectItems value="#{shopService.findAll()}" var="shop" itemLabel="#{shop.shopName}" itemValue="#{shop.shopId}"/>
                    </h:selectOneListbox>
                </div>
            </div>           
            <div class="row">
                <div class="large-12 columns">
                    <h:commandButton action="#{ordersBean.executeSave()}" class="button expand" value="Save"/>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>