<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Shop Portal Welcome Page
    </ui:define>

    <ui:define name="body">

        <h:link outcome="order.xhtml" value="Create New Order"/>
        
        <h:dataTable value="#{ordersBean.orders}" var="order">
            <h:column>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
                <h:outputText value="#{order.orderId}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
                <h:outputText value="#{order.orderName}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Station"/></f:facet>
                <h:outputText value="#{order.shop.shopName}"/>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{ordersBean.doUpdate(order)}" value="Update"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{ordersBean.doDelete(order)}" value="Delete"/></h:form>
            </h:column>

        </h:dataTable>

        <div class="large-6 columns">
            <ezcomp:partComposite parts="#{partsService.findByUserName(loginBean.remoteUser)}" readonly="true" />
        </div>
        <div class="large-6 columns">
            <ezcomp:partComposite parts="#{partBean.parts}" readonly="false" action="#{partBean.executeUpdate()}"/>
        </div>
    </ui:define>

</ui:composition>
