<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns ="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
       Welcome to Customer Page
    </ui:define>

    <ui:define name="body">
        
        <h:dataTable value="#{customerBean.findCustomer()}" var="customer">
            <h:column>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
                <h:outputText value="#{customer.customerId}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="FirstName"/></f:facet>
                <h:outputText value="#{customer.firstName}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="LastName"/></f:facet>
                <h:outputText value="#{customer.lastName}"/>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{customerBean.doUpdate(customer)}" value="Update"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{customerBean.doDelete(customer)}" value="Delete"/></h:form>
            </h:column>

        </h:dataTable>

       
        
    </ui:define>

</ui:composition>
