<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/publicTemplate.xhtml">

    <ui:define name="title">
        Error Page
    </ui:define>

    <ui:define name="body">
         
        <h2>Invalid user name or password.</h2>

        <p><a href="http://localhost:8080/tchandr1-fp/index.html">Return to Main page</a></p>
    </ui:define>

</ui:composition>
