<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/publicTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        User Login
    </ui:define>
    
    

    <ui:define name="body">
        <div class="large-3 large-centered columns">
            <div class="login-box">
                <div class="row">
                    <div class="large-12 columns">
                        <h:form>
                            <div class="row">
                                <div class="large-12 columns">
                                    <h:inputText binding="#{jUsername}" class="#{not jUsername.valid ? 'error' : ''}" p:placeholder="Username" id="j_username" value="#{loginBean.username}"/>
                                    <ui:fragment rendered="#{not jUsername.valid}">
                                        <small class="error"><h:message for="j_username"/></small>
                                    </ui:fragment>

                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <h:inputSecret binding="#{jPassword}" class="#{not jPassword.valid ? 'error' : ''}" p:placeholder="Password" id="j_password" value="#{loginBean.password}"/>
                                    <ui:fragment rendered="#{not jPassword.valid}">
                                        <small class="error"><h:message for="j_password"/></small>
                                    </ui:fragment>

                                    <div class="row">
                                    </div>
                                </div>
                                <div class="large-12 large-centered columns">
                                    <h:commandButton class="button expand" value="Login" action="#{loginBean.doLogin()}"/>
                                    
                                    <div class="row">
                                    </div>
                                </div>
                                
                                
                            </div>
                        </h:form>

                    </div>
                </div>
            </div>
        </div> 
    </ui:define>

</ui:composition>