<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login Title</title>
    </h:head>
    <h:body  >
       
        <h2>User Login</h2>
        <form method="post" action="j_security_check">
            <fieldset>
                <div>
                    <img src="http://localhost:8080/tchandr1-fp/resources/img/tools2.jpg" alt="Tools" height="100" width="250"></img>>
                    <img src="http://localhost:8080/tchandr1-fp/resources/img/tools.jpg" alt="Tools" height="100" width="250"></img>
   
                </div>
                <div>
                    <label for="j_username">Username:</label>
                    <input type="text" id="j_username" name="j_username" />
                </div>
                <div>
                    <label for="j_password">Password:</label>
                    <input type="password" id="j_password" name="j_password" />
                </div>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset"/>
            </fieldset>
        </form>
        
        
        
    </h:body>
</html>

