<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"     
      class="no-js" lang="en">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><ui:insert name="title">Default title</ui:insert></title>
        <h:outputStylesheet name="css/foundation.css" />
        <h:outputScript name="js/vendor/modernizr.js" />
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <nav class="top-bar" data-topbar="" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">My Site</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="active"><a href="#">Right Button Active</a></li>
                    <li class="has-dropdown">
                        <a href="#">#{loginBean.remoteUser}</a>
                        <ul class="dropdown">
                            <li><h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form></li>
                            <li><a href="#">First link in dropdown</a></li>
                            <li class="active"><a href="#">Active link in dropdown</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="#">Left Nav Button</a></li>
                </ul>
            </section>
        </nav>
        <h1><ui:insert name="title">Default Title</ui:insert></h1>
       
        <ui:fragment rendered="#{not empty facesContext.maximumSeverity and facesContext.maximumSeverity.ordinal gt 0}">
            <h:panelGroup layout="block"
                          class="alert-box alert round"
                          p:data-alert="">
                <h:messages showDetail="true" globalOnly="true" showSummary="true"/>
                <a href="#" class="close">&times;</a>
            </h:panelGroup>
        </ui:fragment>
        
        <ui:fragment rendered="#{not empty facesContext.maximumSeverity and facesContext.maximumSeverity.ordinal eq 0}">
            <h:panelGroup layout="block"
                          class="alert-box alert round"
                          p:data-alert="">
                <h:messages showDetail="true" globalOnly="true" showSummary="true"/>
                <a href="#" class="close">&times;</a>
            </h:panelGroup>
        </ui:fragment>
        
        
        
        <ui:insert name="body">Default Body</ui:insert>
        <h:outputScript name="js/vendor/jquery.js" />
        <h:outputScript name="js/foundation.min.js" />
        <script>
            $(document).foundation();
        </script>
    </h:body>
</html>