<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><ui:insert name="title">Default title</ui:insert></title>
        <h:outputStylesheet name="css/foundation.css" />
        <h:outputScript name="js/vendor/modernizr.js" />
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <h1><ui:insert name="title">Default Title</ui:insert></h1>
        <ui:fragment rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}">
            <div data-alert="" class="alert-box alert round">
                <h:messages showDetail="false" globalOnly="true" showSummary="true"/>
                <a href="#" class="close">&times;</a>
            </div> 
        </ui:fragment>
        <ui:insert name="body">Default Body</ui:insert>
        <h:outputScript name="js/vendor/jquery.js" />
        <h:outputScript name="js/foundation.min.js" />
        <script>
            $(document).foundation();
        </script>
    </h:body>
</html>

